<div id="past_view_top_container" class="panel panel-default">
    <div class="panel-body">
        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>
</div>
<div class="past_view_main_container">
    <div id="historical_map"></div>
    <div id="stats_side_panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Asset info</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{vm.stats.tracker_id}}</span>
                        ID
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{vm.stats.tracker_name}}</span>
                        Tracker
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{vm.stats.asset_name}}</span>
                        Asset
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{vm.stats.asset_reg_nr}}</span>
                        Registration nr
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trip Stats</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">140km</span>
                        Distance
                    </li>
                    <li class="list-group-item">
                        <span class="badge">62km/h</span>
                        Average speed
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Last Address</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge"></span>
                        {{vm.stats.last_known_address}}
                    </li>
                    <li class="list-group-item">
                        <span class="badge">62km/h</span>
                        Speed
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{vm.stats.alt}}</span>
                        Altitude
                    </li>
                    <li class="list-group-item">
                        <span class="badge">18.01.2017 13:45:39</span>
                        Time
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>