<div id="past_view_top_container" class="panel panel-default">
    <div class="panel-body">
        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>
</div>
<div class="past_view_main_container">
    <span ng-repeat="n in vm.trackers track by $index">
        <div class="historical_map_div">
            <div>{{n.name}} {{n.description}}</div>
            <div class="historical_map" id="historical_map{{n.identity}}">no data</div>
        </div>
        
    </span>
    
    
</div>