
<div id="tracker_favorites">
    <span ng-repeat="n in vm.trackers track by $index">
        <a class="my-tracker-button" href="#{{$index+1}}">
            <button ng-click="vm.setTracker(n.identity)" type="button" class="tracker_favorite">
                    <span class="my-tracker-button-logo"></span>
                    <span >{{n.name}}</span>  
            </button>
        </a>
    </span>
</div>

<div id="home-main-container">
    <div id="live-map-canvas">
        <ng-map id="actual-map" zoom="{{vm.map.zoom}}" center="{{vm.map.center.latitude}}, {{vm.map.center.longitude}}">
            <custom-marker ng-repeat="cm in vm.trackerArray" position="{{cm.pos.latitude}}, {{cm.pos.longitude}}"
                on-mouseover="mouseover()" on-mouseout="mouseout()" on-click="vm.trackerInfo()">
                <div class="{{cm.class}}">
                    <div>{{cm.data.asset_name}} {{cm.data.asset_reg_nr}}</div> 
                </div>
            </custom-marker>
        </ng-map>
    </div>
    <div id="stats-side-panel">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Asset Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="stats-key">ID</td>
                    <td>{{vm.selectedTrackerData.tracker_id}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Tracker</td>
                    <td>{{vm.selectedTrackerData.tracker_name}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Asset</td>
                    <td>{{vm.selectedTrackerData.asset_name}}</td>
                </tr>
            </tbody>
        </table>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Last Trip Stats</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="stats-key">Start Time</td>
                    <td>{{vm.selectedTrackerData.last_trip.time_start | date:"dd.MM.y HH:mm:ss":"EET"}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Start Address</td>
                    <td>{{vm.selectedTrackerData.last_trip.address_start}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Stop Time</td>
                    <td>{{vm.selectedTrackerData.last_trip.time_end | date:"dd.MM.y HH:mm:ss":"EET"}}</td>
                </tr>
                <tr>
                    <td class="stats-key">End Address</td>
                    <td>{{vm.selectedTrackerData.last_trip.address_end}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Distance</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="stats-key">Avg Speed</td>
                    <td>{{vm.selectedTrackerData.last_trip.avg_speed}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Duration</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Last Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="stats-key">Location</td>
                    <td>{{vm.selectedTrackerData.last_known_address}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Car Running</td>
                    <td>{{vm.selectedTrackerData.car_running}}</td>
                </tr>
                <tr>
                    <td class="stats-key">Speed</td>
                    <td>{{vm.selectedTrackerData.speed}} km/h</td>
                </tr>
                <tr>
                    <td class="stats-key">Last Time Updated</td>
                    <td>{{vm.selectedTrackerData.last_time_updated | date:"dd.MM.y HH:mm:ss":"EET"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear">clear</div>
</div>
